<div class="signup_wrapper">
    <div class="row">
        <div class="right_block">
            <div class="row" id="register">
            </div>
        </div>
        <!-- right_block -->
    </div>
    <!-- row -->
</div>
<!-- wrapper -->